/*-------------- Sapious Tempalte / Med Ilyes Helal --------------*/

:root {
  --primaryColor: #07a3e9;
  --primaryTintColor: #edf9ff;
  --textColor: #555;
  --headingsColor: #333;
  --yellow: #ffd43b;
}

/* Header Part */
/* NavBar */
.appHeader {
  background-color: var(--primaryTintColor);
  padding: 1rem 3rem;
}

.appHeader .appNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.appHeader .appNavbar .appLogo {
  width: 12rem;
}

.appHeader .appNavbar .appLogo img {
  width: 100%;
}

.appHeader .appNavbar .appLinks ul {
  list-style: none;
  font-size: 1.6rem;
}

.appHeader .appNavbar .appLinks ul li a {
  color: var(--textColor);
  text-decoration: none;
  font-weight: 500;
  position: relative;
  transition: color 0.2s ease-in-out;
}

.appHeader .appNavbar .appLinks ul li a.btn {
  font-size: 1.6rem;
  padding: 1rem 2rem;
  color: var(--primaryColor);
  transition: color 0.3s ease-in-out;
  border: 2px solid var(--primaryColor);
  background-color: transparent;
  z-index: 0;
  position: relative;
}

.appHeader .appNavbar .appLinks ul li a.btn:hover {
  color: white;
  opacity: 1;
}

.appHeader .appNavbar .appLinks ul li a.btn::after {
  content: "";
  background-color: var(--primaryColor);
  height: 0%;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  position: absolute;
  transition: height 0.5s ease-in-out;
}

.appHeader .appNavbar .appLinks ul li a.btn:hover::after {
  height: 100%;
}

.appHeader .appNavbar .appLinks ul li a:not(.btn)::after {
  content: "";
  background-color: var(--textColor);
  width: 0%;
  height: 2px;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: width 0.5s ease-in-out;
}

.appHeader .appNavbar .appLinks ul li a:not(.btn):hover {
  color: var(--primaryColor);
}

.appHeader .appNavbar .appLinks ul li a:not(.btn):hover::after {
  width: 100%;
  background-color: var(--primaryColor);
}
/* Intro */
.appHeader .appIntro {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.appHeader .appIntro .appIntroInfos {
  flex-grow: 1;
}

.appHeader .appIntro .appIntroInfos p {
  font-size: 1.5rem;
  line-height: 3rem;
}

.appHeader .appIntro .appIntroInfos .appIntroButtons {
  margin: 3.2rem 0;
}

.appHeader .appIntro .appIntroInfos .appIntroButtons a {
  margin-right: 2rem;
}

.appHeader .appIntro .appIntroInfos .appIntroButtons a i {
  margin-left: 1rem;
}

.appHeader .appIntro .appIntroInfos .appMoreInfos {
  display: flex;
  align-items: center;
}

.appHeader .appIntro .appIntroInfos .appMoreInfos .appSessionsAmount {
  position: relative;
  left: -7rem;
}

.appHeader .appIntro .appIntroInfos .appMoreInfos .appUsersPics img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  border: 3px solid var(--primaryColor);
  position: relative;
}

.appHeader
  .appIntro
  .appIntroInfos
  .appMoreInfos
  .appUsersPics
  img:nth-child(2) {
  left: -2rem;
}

.appHeader
  .appIntro
  .appIntroInfos
  .appMoreInfos
  .appUsersPics
  img:nth-child(3) {
  left: -4rem;
}

.appHeader
  .appIntro
  .appIntroInfos
  .appMoreInfos
  .appUsersPics
  img:nth-child(4) {
  left: -6rem;
}

.appHeader
  .appIntro
  .appIntroInfos
  .appMoreInfos
  .appUsersPics
  img:nth-child(5) {
  left: -8rem;
}

.appHeader .appIntro .appIntroInfos .appMoreInfos .appSessionsAmount p {
  font-weight: 500;
}

.appHeader .appIntro .appIntroInfos .appMoreInfos .appSessionsAmount p span {
  font-weight: 600;
  color: var(--primaryColor);
}

.appHeader .appIntro .appIntroPic {
  width: 49rem;
  height: 32rem;
}

.appHeader .appIntro .appIntroPic img {
  width: 100%;
  height: 100%;
}

/* How it works Section */
.appHow .title .heading-primary {
  margin-bottom: 5rem;
}

.appHow .appTip {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin-bottom: 6.5rem;
}

.appHow .appTip:last-child {
  margin-bottom: 0;
}

.appHow .appTip .appTipInfos .appTipNum {
  font-size: 7rem;
  color: #e1e1e1;
  margin-bottom: 1rem;
}

.appHow .appTip .appTipInfos h2 {
  margin-bottom: 2.6rem;
}

.appHow .appTip .appTipInfos p {
  font-size: 1.5rem;
  line-height: 2.4rem;
}

.appHow .appTip .appTipImage {
  width: 10rem;
  height: 10rem;
  position: relative;
  margin-left: auto;
  /* margin: 0 auto; */
}

.appHow .appTip .appTipImage::before {
  content: "";
  background-color: var(--primaryTintColor);
  position: absolute;
  top: -2rem;
  left: -2rem;
  right: -2rem;
  bottom: -2rem;
  border-radius: 50%;
  z-index: -1;
}

.appHow .appTip .appTipImage::after {
  content: "";
  background-color: var(--primaryTintColor);
  position: absolute;
  top: -4rem;
  left: -4rem;
  bottom: -4rem;
  z-index: -2;
  right: -4rem;
  border-radius: 50%;
  opacity: 0.6;
}

.appHow .appTip .appTipImage img {
  width: 100%;
  height: 100%;
}

.appHow .appTipReverse .appTipInfos {
  order: 2;
}

.appHow .appTipReverse .appTipImage {
  margin: 0 auto;
}

/* App Review Section */
.appReview {
  background-color: var(--primaryTintColor);
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.appReview .appReviewDetails {
  padding: 5rem;
}

.appReview .appReviewDetails .title .heading-secondary {
  margin-bottom: 6rem;
}

.appReview .appReviewDetails .appReviewComments {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 5rem;
}

.appReview .appReviewDetails .appReviewComments .comment img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}

.appReview .appReviewDetails .appReviewComments .comment .commentContent {
  font-size: 1.5rem;
  line-height: 2.7rem;
}

.appReview .appReviewDetails .appReviewComments .comment .authorName {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  margin: 1rem 0;
}

.appReview .appReviewDetails .appReviewComments .comment .authorName::before {
  content: "\F2EA";
  font-family: "bootstrap-icons";
}

.appReview .appReviewGallery {
  display: grid;
  grid-template-columns: repeat(3, 25rem);
  grid-template-rows: repeat(4, 18rem);
  gap: 2rem;
  align-self: center;
}

.appReview .appReviewGallery .appReviewGalImg img {
  width: 100%;
  height: 100%;
}
